.hotel-offer-card {
  width: 800px;
  margin: auto;
}

.offer-content-wrapper {
  display: flex;
  flex-direction: column;
}

.booking-info-container {
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
  justify-content: space-between;
}

.booking-info-container .room-details {
  margin-top: 40px;
}

.offer-price-wrapper {
  margin-top: 150px;
}

.offer-content-wrapper .price-info {
  margin-left: 10px;
}

@media (min-width: 640px) {
  .offer-content-wrapper {
    flex-direction: row;
  }

  .hotel-photo-container {
    flex: 0 1 40%;
  }

  .hotel-info-wrapper {
    flex: 0 1 60%;
  }
}

@media (max-width: 850px) {
  .hotel-offer-card {
    min-width: 375px;
    width: 80%;
  }

  .hotel-offer-card img {
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    margin: auto;
  }

  .offer-content-wrapper,
  .hotel-photo-container,
  .hotel-details-container,
  .booking-info-container,
  .booking-info-container .room-details,
  .offer-price-wrapper {
    flex-direction: column;
    margin: 0 auto;
  }

  .beds-date-wrapper {
    margin-left: 50px;
  }

  .offer-price-wrapper {
    padding: 0 16px;
    margin-top: 20px;
  }
}
