<div class="full-window-autocomplete">
  <div id="weekend_variation_buttons">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      [value]="defaultToggleValue"
      (change)="switchProvider(group.value)"
    >
      <mat-button-toggle value="short">Short weekend</mat-button-toggle>
      <mat-button-toggle value="long">Long weekend</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <mat-form-field class="flight-search-input-width">
    <mat-label>Enter which weekend</mat-label>
    <mat-date-range-input
      [formGroup]="whichWeekendRange"
      [rangePicker]="picker"
      [dateFilter]="weekendFilter"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
