<div class="full-window-autocomplete">
  <mat-form-field class="flight-search-input-width">
    <mat-label>Enter which weekend</mat-label>
    <mat-date-range-input
      [formGroup]="whichWeekendRange"
      [rangePicker]="picker"
      [dateFilter]="weekendFilter"
    >
      <input matStartDate formControlName="start" placeholder="Start date" />
      <input matEndDate formControlName="end" placeholder="End date" />
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</div>
