@tailwind base;
@tailwind components;
@tailwind utilities;

@import "theme.scss";

:host ::ng-deep mat-vertical-stepper {
  display: inline;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 105vh;
  margin: 0;
}

main {
  flex: 1;
  height: 110vh;
  // padding-bottom: 200px;
}

@media (max-height: 900px) {
  main {
    margin-bottom: 7.5vh;
  }
}

app-header,
app-footer {
  flex-shrink: 0;
}

.full-window-autocomplete {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
}

.flight-search-input-width {
  width: 40vw;
}

.mat-mdc-snack-bar-container {
  &.blue-snackbar {
    --mdc-snackbar-container-color: #ffffff;
    --mat-mdc-snack-bar-button-color: #010000;
    --mdc-snackbar-supporting-text-color: #ff0000;
  }
}
