<header class="bg-light-green-400 text-gray-700 shadow-lg">
  <div class="container mx-auto px-6 py-3 flex justify-between items-center">
    <a href="/" class="flex items-center text-gray-700">
      <img
        src="../../../../assets/main-logo.png"
        alt="Unwinder Logo"
        class="h-8 w-8 mr-2"
      />
      <span class="font-semibold text-xl">unwinder</span>
    </a>
    <nav class="flex items-center">
      <div class="hidden sm:flex space-x-4">
        <a href="/unwind/flight-search" class="hover:text-light-green-600"
          >Find your next trip!</a
        >
      </div>
      <div class="sm:hidden flex space-x-4">
        <a href="/unwind/flight-search" class="hover:text-light-green-600"
          >Find!</a
        >
      </div>
      <div class="md:hidden">
        <button
          type="button"
          class="text-gray-500 hover:text-light-green-600 focus:outline-none focus:text-light-green-600"
        >
          <svg
            fill="none"
            viewBox="0 0 24 24"
            class="w-6 h-6"
            stroke="currentColor"
          ></svg>
        </button>
      </div>
      <div class="flex items-center">
        <a href="#!" class="flex items-center hover:text-light-green-600">
          <svg
            class="w-5 h-5 mr-1"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          ></svg>
          Login
        </a>
        <div
          class="flex items-center bg-light-gray-200 text-gray-600 rounded-full p-1"
        >
          <button type="submit" class="focus:outline-none">
            <svg
              class="w-5 h-5"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            ></svg>
          </button>
        </div>
      </div>
    </nav>
  </div>
</header>
