<div class="flex justify-center items-center">
  <img
    src="../../../../assets/main-banner.jpg"
    class="filter brightness-50 max-w-full h-auto shrink-image"
  />
  <a
    href="/unwind/flight-search"
    id="main-button"
    class="absolute text-white text-xl md:text-3xl font-bold hover:text-gray-300 transition duration-300 ease-in-out flex items-center gap-2"
  >
    Find Your Next Weekend Trip!
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M13 5l7 7-7 7M5 5l7 7-7 7"
      />
    </svg>
  </a>
</div>
<div class="px-4 py-8 bg-gray-50">
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
    <div
      class="bg-white rounded-lg p-6 flex flex-col justify-between shadow-lg transform transition duration-500 hover:shadow-xl hover:-translate-y-2"
    >
      <h3 class="text-lg font-semibold text-gray-800">
        <a href="/unwind/flight-search">Quick Getaways</a>
      </h3>
      <p class="text-gray-600 mt-2">
        Plan quick, stress-free weekend getaways to unwind during busy periods.
      </p>
    </div>
    <div
      class="bg-white rounded-lg p-6 flex flex-col justify-between shadow-lg transform transition duration-500 hover:shadow-xl hover:-translate-y-2"
    >
      <h3 class="text-lg font-semibold text-gray-800">
        <a href="/unwind/flight-search">Flight & Accommodations</a>
      </h3>
      <p class="text-gray-600 mt-2">
        Simplify finding flights and accommodations with intuitive search
        features.
      </p>
    </div>
    <div
      class="bg-white rounded-lg p-6 flex flex-col justify-between shadow-lg transform transition duration-500 hover:shadow-xl hover:-translate-y-2"
    >
      <h3 class="text-lg font-semibold text-gray-800">
        <a href="#">Save for Later</a>
      </h3>
      <p class="text-gray-600 mt-2">
        Easily save flights and accommodations, revisiting them anytime for
        seamless planning.
      </p>
    </div>
  </div>
</div>
<app-offer-recommendations></app-offer-recommendations>
